# Server
server/node_modules/
server/.env
server/.env.local
server/config/serviceAccountKey.json

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local

# General
node_modules/
.DS_Store
*.log
.idea/
.vscode/
